<a href="https://colab.research.google.com/github/bywwis/4-module/blob/main/titanic_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Проверочное задание. Типы и структуры данных. Titanic

In [ ]:
# Импортируй библиотеку pandas
import pandas as pd

# и numpy:
import numpy as np

In [ ]:
# Примонтируй Google Drive.
# В процессе выполнения кода этой ячейки перейди по длинной ссылке, скопируй код, вставь его
# в поле ввода и нажми <Enter>. Твой личный Google-диск "примонтируется", его папки
# станут видны в разделе файловой структуры слева.
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Размести на Google Drive файл titanic_train.csv из материалов к заданию и загрузи его в dataframe
# Альтернативно его можно загрузить и отсюда:
# https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/titanic_train.csv

titanic = pd.read_csv('/content/drive/MyDrive/mydata/titanic_train.csv')

In [ ]:
# Выведи верхние строки датасета
titanic.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [ ]:
# Выведи описательные статистики
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
# Выведи максимальное значение признака ‘Fare’.
titanic.Fare.max()

512.3292

In [ ]:
# Получи срез [2:4,'Name']
titanic.loc[2:4, 'Name']

2                          Heikkinen, Miss. Laina
3    Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                        Allen, Mr. William Henry
Name: Name, dtype: object

In [ ]:
# Выведи на печать число женщин и мужчин
print(f"Женщин: {len(titanic[titanic.Sex == 'female'])}")
print(f"Мужчин: {len(titanic[titanic.Sex == 'male'])}")

Женщин: 314
Мужчин: 577

In [ ]:
# Выведи число выживших пассажиров 1 класса. Используй логический оператор '&'.
print(len(titanic[(titanic.Pclass == 1) & (titanic.Survived == 1)]))

136

In [ ]:
# Выведи средний возраст выживших с использованием .loc()
titanic.loc[titanic.Survived == 1, 'Age'].mean()

28.343689655172415

In [ ]:
# Выведи средний возраст выживших иным способом
titanic[titanic.Survived == 1].Age.mean()

28.343689655172415

In [ ]:
# Покажи типы данных датасета
titanic.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

###